<h1> Posts </h1>
<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>

<% if user_signed_in? %>
    <br><br>

    <%= render 'post' %>
<% end %>




<%# <%= button_tag 'Button', type: 'button', onClick: 'showAlert()'%>

<%# <button onclick="showAlert()">Click me</button> %>
<%# <button id="myButton">Click me</button> %>

